.revealWrapper {
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: opacity, transform;
}

.directionUp {
  transform: translateY(40px);
}

.directionLeft {
  transform: translateX(40px);
}

.directionRight {
  transform: translateX(-40px);
}

.directionNone {
  transform: none;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}
